<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d18240d4e8.js" crossorigin="anonymous"></script>
  <title>一覧ページ</title>
</head>

<body>
  <header class="header">
    <div class="header-contents wrapper">
      <div class="header-logo">
        <%= image_tag 'logo.png', class: "header-logo__image"%>
      </div>
      <ul class="header-menu">
        <li class="header-menu__item"><a class="header-menu__link">mami</a></li>
        <li class="header-menu__item"><a class="header-menu__link">達成済み</a></li>
      </ul>
    </div>
  </header>

  <div class="main">
    <div class="main-btn-area">
      <a class="main-btn complete">達成</a>
    </div>
    <div class="main-area">
      <div class="contents-box">
        <div class="contents-box__head">
          <a href="#" class="medium-btn-link cancel">キャンセル</a>
          <div class="contents-title">詳細</div>
          <a href="#" class="medium-btn-link" id="edit_post">登録</a>
        </div>

        <div class ="contents-box-list">
        <%= form_for(@wish, html: {name: 'edit_wish'}) do |f| %>
          <div class="contents-box-list__item flex">
            <%= f.label :title, "達成したいこと", class: "item-title" %>
            <%= f.text_field :title, class: "item-field", value: @wish.title, placeholder: "例)猫と暮らしたい" %>
          </div>
          <div class="contents-box-list__item flex">
            <%= f.label :deadline, "期限", class: "item-title" %>
            <%= f.date_select :deadline, value: @wish.deadline, class: "item-field" %>
          </div>
          <div class="contents-box-list__item">
            <%= f.label :memo, "メモ", class: "item-title memo-title" %>
            <%= f.text_area :memo, value: @wish.memo, class: "item-field memo-height", placeholder: "500字以内で書いください" %>
          </div>


          <div class="contents-box-list__item">
            <%= f.fields_for :small_step do |i|%>
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <%= i.label :text1, "スモールステップ①", class: "item-title" %>
                <% if @wish.small_steps[0] %>
                <%= i.text_field :text1, class: "item-field", value: @wish.small_steps[0].text,placeholder: "例)ペット可の物件を探す" %>
                <% else %>
                <%= i.text_field :text2, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
                <% end %>
              </div>
              <a href="#" class="small-btn">達成</a>
            </div>
          </div>

          <div class="contents-box-list__item">
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <%= i.label :text2, "スモールステップ②", class: "item-title" %>
                <% if @wish.small_steps[1] %>
                <%= i.text_field :text2, class: "item-field", value: @wish.small_steps[1].text,placeholder: "例)ペット可の物件を探す" %>
                <% else %>
                <%= i.text_field :text2, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
                <% end %>
              </div>
              <a href="#" class="small-btn">達成</a>
            </div>
          </div>

          <div class="contents-box-list__item">
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <%= i.label :text3, "スモールステップ③", class: "item-title" %>
                <% if @wish.small_steps[2] %>
                <%= i.text_field :text3, class: "item-field", value: @wish.small_steps[2].text,placeholder: "例)ペット可の物件を探す" %>
                <% else %>
                <%= i.text_field :text3, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
                <% end %>
              </div>
              <a href="#" class="small-btn">達成</a>
            </div>
          </div>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</body>