
<div class="main-btn-area">
  <a class="main-btn complete">達成</a>
</div>
<div class="main-area">
  <div class="contents-box">
    <div class="contents-box__head">
      <a href="/" class="medium-btn-link cancel">キャンセル</a>
      <div class="contents-title">詳細</div>
      <a href="#" class="medium-btn-link" id="edit_post">登録</a>
    </div>

    <div class ="contents-box-list">
    <%= form_for(@wish, html: {name: 'edit_wish'}) do |f| %>
      <div class="contents-box-list__item flex">
        <%= f.label :title, "達成したいこと", class: "item-title" %>
        <%= f.text_field :title, class: "item-field", value: @wish.title, placeholder: "例)猫と暮らしたい" %>
      </div>
      <div class="contents-box-list__item flex">
        <%= f.label :deadline, "期限", class: "item-title" %>
        <%= f.date_field :deadline, value: @wish.deadline, class: "item-field" %>
      </div>
      <div class="contents-box-list__item">
        <%= f.label :memo, "メモ", class: "item-title memo-title" %>
        <%= f.text_area :memo, value: @wish.memo, class: "item-field memo-height", placeholder: "500字以内で書いください" %>
      </div>

      <%= f.fields_for :small_step do |i|%>
      <div class="contents-box-list__item">
        <% if @wish.small_steps[0] %>
          <div class="small-step-items">
            <div class="small-step-items__contents">
              <%= i.label :text1, "スモールステップ①", class: "item-title" %>
              <%= i.text_field :text1, class: "item-field", value: @wish.small_steps[0].text,placeholder: "例)ペット可の物件を探す" %>
              <%=i.hidden_field :small_step_id1, value:@wish.small_steps[0].id%>
            </div>
              <% if @wish.small_steps[0].done == true %>
            <%= link_to "達成", small_step_path( @wish.small_steps[0].id),method: :patch, class: "small-btn small-btn__done"%>
            <% else %>
            <%= link_to "達成", small_step_path( @wish.small_steps[0].id),method: :patch, class: "small-btn"%>
            <% end %>
          </div>
        <% else %>
          <div class="small-step-items">
            <div class="small-step-items__contents">
              <%= i.label :text1, "スモールステップ①", class: "item-title" %>
              <%= i.text_field :text1, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
            </div>
            <a href="#" class="small-btn">達成</a>
          </div>
        <% end %>
      </div>

      <div class="contents-box-list__item">
        <% if @wish.small_steps[1] %>
          <div class="small-step-items">
            <div class="small-step-items__contents">
              <%= i.label :text2, "スモールステップ②", class: "item-title" %>
              <%= i.text_field :text2, class: "item-field", value: @wish.small_steps[1].text,placeholder: "例)ペット可の物件を探す" %>
              <%=i.hidden_field :small_step_id2, value:@wish.small_steps[1].id%>
            </div>
            <% if @wish.small_steps[1].done == true %>
            <%= link_to "達成", small_step_path( @wish.small_steps[1].id),method: :patch, class: "small-btn small-btn__done"%>
            <% else %>
            <%= link_to "達成", small_step_path( @wish.small_steps[1].id),method: :patch, class: "small-btn"%>
            <% end %>
          </div>
        <% else %>
          <div class="small-step-items">
            <div class="small-step-items__contents">
              <%= i.label :text2, "スモールステップ②", class: "item-title" %>
              <%= i.text_field :text2, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
            </div>
            <a href="#" class="small-btn">達成</a>
          </div>
        <% end %>
      </div>

      <div class="contents-box-list__item">
        <% if @wish.small_steps[2] %>
          <div class="small-step-items">
            <div class="small-step-items__contents">
              <%= i.label :text3, "スモールステップ③", class: "item-title" %>
              <%= i.text_field :text3, class: "item-field", value: @wish.small_steps[2].text,placeholder: "例)ペット可の物件を探す" %>
              <%=i.hidden_field :small_step_id3, value:@wish.small_steps[2].id%>
            </div>
            <% if @wish.small_steps[1].done == true %>
            <%= link_to "達成", small_step_path( @wish.small_steps[2].id),method: :patch, class: "small-btn small-btn__done"%>
            <% else %>
            <%= link_to "達成", small_step_path( @wish.small_steps[2].id),method: :patch, class: "small-btn"%>
            <% end %>
          </div>
        <% else %>
        <div class="small-step-items">
          <div class="small-step-items__contents">
            <%= i.label :text3, "スモールステップ③", class: "item-title" %>
            <%= i.text_field :text3, class: "item-field", placeholder: "例)ペット可の物件を探す" %>
          </div>
          <a href="#" class="small-btn">達成</a>
        </div>
        <% end %>
      </div>

      <% end %>
    <% end %>
    </div>
  </div>
</div>
