<div class="main-area dones">
  <div class="contents-box">
    <div class="contents-box__head done-head">
      <div>
        <%= link_to "一覧に戻る", dones_path, class:"medium-btn-link " %>
      </div>
      <div class="contents-title done-show-title">詳細</div>
      <div class="blank-box"></div>
    </div>

    <ul class="contents-box-list">
      <li class="contents-box-list__item">
        <div class="item-title">達成したいこと</div>
        <div class="item-firld display"><%=@wish.title%></div>
      </li>
      <li class="contents-box-list__item">
        <div class="item-title">期限</div>
        <div class="item-firld display"><%=@wish.deadline%></div>
      </li>
      <li class="contents-box-list__item memo-height">
        <div class="list-items">
          <div class="item-title">
          メモ
          </div>
          <div class="item-firld display">
          <%= @wish.memo %>
          </div>
        </div>
      </li>
      <% number = ["①","②","③"]%>
      <% @wish.small_steps.zip(number) do |small_step,num|%>
      <li class="contents-box-list__item">
        <div class="small-step-items">
          <div class="small-step-items__contents">
            <div class="item-title">
            スモールステップ<%= num %>
            </div>
            <div class="item-firld display">
            <%= small_step.text %>
            </div>
          </div>
          <div class="done-display">
          達成済み
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
